<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/geral.css">
    <link rel="stylesheet" href="../style/login.css">
    <title>Login</title>
</head>
<body class="card">
    <div id="pagina">
        <!--Div acima do header-->
        <div id="DivAcimaHeader"></div>
        <!--Header começa aqui-->
        <div id="header">
            <!--DivLogo começa aqui-->
            <div id="DivLogo">
                <div id="DivLogoUm">
                <img src="../img/discount2.svg" alt="Logo" id="DiscountLogo">
                </div>
                <div id="DivLogoDois">
                <h1><a href="../page/index.html">DiscountsFarm</a></h1>
                </div>
            </div>
            <!--DivLogo termina aqui-->
            <!--menus começam aqui-->
            <nav id="nav">
                <button id="btnMenu">
                    <span id="hamburguer"></span>
                  </button>
                <div id="UlMenu">
                    <ul id="menu">
                        <li><a href="../page/index.html">Home</a></li>
                        <li><a href="../page/login.html">Login</a></li>
                        <li><a href="../page/cadastro.html">Cadastro</a></li>
                    </ul>
                </div>
            </nav>
            <!--menus terminam aqui-->
        </div>
        <!--Div abaixo do header-->
        <div id="DivAbaixoHeader"></div>
        <div id="DivConteudo">
            <header>
                <h1>LOGAR-SE</h1>
            </header>
            <div id="principal">
                <!-- formulario -->
                <div id="formularioum">
                    <div id="formularioummeio">
                        <form id="formulariodois" action="">
                            <div id="UserAndPassword">
                            <!-- User -->
                                <label for="user">Usuário</label>
                                    <input type="text" class="Textlogin" required><br>
                                <!-- Password -->
                                <label for="password">Senha</label>
                                    <input type="password" name="Password" class="Textlogin" size="8" required><br>
                            </div>
                            <!-- Esqueci a Senha -->
                            <a href="../page/senha.html">Esqueci a Senha</a>
                            <!-- checkbox -->
                            <div id="checkboxdiv">
                                <label id="SalvarDados">Lembrar dados de Usuário</label>
                                <input type="checkbox" name="checkbox" id="checkbox" required><br>
                            </div>
                            <!-- cadastrar -->
                            <button type="submit" id="buttonEntrar">Entrar</button>
                        </form>
                    </div>
                </div>
                <div id="banner">
                    <!-- <img src="../img/SteamCadastro1.jpg" alt=""> -->
                </div>
            </div>    
        </div>
        <!-- Começo Footer -->
        <footer>
            <b>DiscountsFarm&copy;</b><sup>2023</sup><br>
            Todos os Direitos reservados
        </footer>
        <!-- Fim Footer -->
    </div>
    
</body>
</html>