<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="../style/geral.css">
    <link rel="stylesheet" href="../style/cadastro.css">
    <title>Cadastro</title>
</head>
<body class="card">
    <div id="pagina">
        <!--Div acima do header-->
        <div id="DivAcimaHeader"></div>
        <!--Header começa aqui-->
        <div id="header">
            <!--DivLogo começa aqui-->
            <div id="DivLogo">
                <div id="DivLogoUm">
                <img src="../img/discount2.svg" alt="Logo" id="DiscountLogo">
                </div>
                <div id="DivLogoDois">
                    <h1><a href="../page/index.html">DiscountsFarm</a></h1>
                </div>
            </div>
            <!--DivLogo termina aqui-->
            <!--menus começam aqui-->
            <nav id="nav">
                <button id="btnMenu">
                    <span id="hamburguer"></span>
                  </button>
                <div id="UlMenu">
                    <ul id="menu">
                        <li><a href="../page/index.html">Home</a></li>
                        <li><a href="../page/login.html">Login</a></li>
                        <li><a href="../page/cadastro.html">Cadastro</a></li>
                    </ul>
                </div>
            </nav>
            <!--menus terminam aqui-->
        </div>
        <!--Div abaixo do header-->
        <div id="DivAbaixoHeader"></div>
        <div id="DivConteudo">
            <header>
                <h1>CADASTRO</h1>
            </header>
            <div id="principal">
                <section class="m-3 mb-5">
                    <form>
                        <div class="form-outline mb-4">
                            <label class="form-label text-white" for="#">Nome</label>
                          <input type="text" id="#" class="form-control form-control-lg" placeholder="Nome completo"/>
                        </div>
                    
                        <div class="form-outline mb-4">
                            <label class="form-label text-white" for="#">E-mail</label>
                          <input type="email" id="#" class="form-control form-control-lg" placeholder="E-mail"/>
                        </div>
                    
                        <div class="form-outline mb-4">
                            <label class="form-label text-white" for="#">Senha</label>
                          <input type="password" id="#" class="form-control form-control-lg" placeholder="Senha"/>
                        </div>
                    
                        <div class="form-outline mb-4">
                            <label class="form-label text-white" for="#">Repetir senha</label>
                          <input type="password" id="#" class="form-control form-control-lg" placeholder="Repetir senha"/>
                        </div>
                    
                        <div class="form-check d-flex justify-content-center mb-5">
                          <input class="form-check-input me-2" type="checkbox" value="" id="#" />
                          <label class="form-check-label text-white" for="#">
                            Eu concordo com todas as declarações nos <a href="#!" class="text-white"><u>Termos de Serviços</u></a>
                          </label>
                        </div>
                    
                        <div class="d-flex justify-content-center">
                          <button type="button"
                            class="btn btn-block btn-lg text-body" id="BotaoRegistrar">Register</button>
                        </div>
                    
                        <p class="text-center text-white mt-5 mb-0">Você já tem uma conta? <a href="../page/login.html"
                          class="fw-bold"><u>Logue aqui!</u></a>
                    </form>
                </section>   
            </div>
        <script src="../js/bootstrap.bundle.js"></script>
        <script src="../js/bootstrap.js"></script>
        <script src="../js/js.js"></script>
    </div>
    <!-- Começo Footer -->
    <footer>
        <b>DiscountsFarm&copy;</b><sup>2023</sup><br>
        Todos os Direitos reservados
    </footer>
    <!-- Fim Footer -->
    
</body>
</html>