<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/geral.css">
    <link rel="stylesheet" href="/style/index.css">
    <title>Multiplayer</title>
</head>
<body class="card">
    <!-- Começo da Div Pai da Pagina Inteira -->
    <div id="pagina">
        <!--Div acima da Div header-->
        <div id="DivAcimaHeader"></div>
        <!--Div header começa aqui-->
        <div id="header">
            <!--DivLogo começa aqui-->
            <div id="DivLogo">
                <div id="DivLogoUm">
                <img src="/img/discount2.svg" alt="Logo" id="DiscountLogo">
                </div>
                <div id="DivLogoDois">
                    <h1><a href="/">DiscountsFarm</a></h1>
                </div>
            </div>
            <!--DivLogo termina aqui-->
            <!--menus começam aqui-->
            <nav id="nav">
                <button id="btnMenu">
                    <span id="hamburguer"></span>
                  </button>
                <div id="UlMenu">
                    <ul id="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/page/login.html">Login</a></li>
                        <li><a href="/inserirjogo">Inserir Jogo</a></li>
                    </ul>
                </div>
            </nav>
            <!--menus terminam aqui-->
        </div>
        <!--Div abaixo da Div header-->
        <div id="DivAbaixoHeader"></div>
        <!-- Div SlideShow começa aqui -->
        <div class="slideshow-container">
            <div class="mySlides fade">
              <img src="/img/backgroundnoblur1500x500.png" style="width:100%">
            </div>
            <div class="mySlides fade">
              <img src="/img/background1500x500.gif" style="width:100%">
            </div>    
        </div>
        <br>        
            <div style="text-align:center">
              <span class="dot"></span> 
              <span class="dot"></span> 
            </div>
            <!-- Começo da Div pai dos botões do headerz -->
            <div id="DivBotoesPai">
                <!-- Começo das Divs dos botões -->
                <div class="DivBotoes">
                    <a href="/multi">Multiplayer</a>
                </div>
                <div class="DivBotoes">
                    <a href="/single">Singleplayer</a>
                </div>
                <div class="DivBotoes">
                    <a href="/coop">Cooperativo</a>
                </div>
                <div class="DivBotoes">
                    <a href="/fps">FPS</a>
                </div>
                <!-- Fim das Divs dos botões -->
            </div>
        <!-- Div SlideShow termina aqui -->
        <!-- Começo da Div dos conteudos -->
        <div id="DivConteudo">
            <!-- Titulo do Conteudo -->
            <div id="ConteudoGame">
                <h1>Games</h1>
            </div>
            <!-- Começo da Div pai dos conteudos -->
            <div id="PaiDosConteudos">
                <!-- Começo do Fi 1 do Conteudo Linkado -->
                <a href="https://store.steampowered.com/app/1172470/Apex_Legends/ " target="_blank">
                    <div class="FiConteudo">
                        <img src="/img/ApexLegends.jpg" alt="ApexLegends">
                        <div class="BackFi">
                            <!-- Titulo -->
                            <div class="DivGamesLayouth3">
                                <h3>Apex Legends</h3>
                            </div>
                            <!-- SubTitulo -->
                            <h5 class="DivGamesLayouth2"></h5>
                            <!-- Termino de promoção -->
                            <div class="DivGamesLayoutPromo">
                                <!--Termina em 6 de abr. às 10:00.-->
                            </div>
                            <!-- Preço ou Gratuito -->
                            <div class="SemPreco">
                                <div class="SemPrecoOriginal">Gratuito para jogar</div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Fim do Fi 1 do Conteudo Linkado -->
                <!-- Começo do Fi 2 do Conteudo Linkado -->
                <a href="https://store.steampowered.com/bundle/5699/Grand_Theft_Auto_V_Edio_Premium/" target="_blank">
                    <div class="FiConteudo">
                        <img src="/img/GTAV.jpg" alt="GTAV">
                        <div class="BackFi">
                            <!-- Titulo -->
                            <div class="DivGamesLayouth3">
                                <h3>Grand Theft Auto V
                                    <h4>Edição Premium</h4>
                                </h3>
                            </div>
                            <!-- SubTitulo -->
                            <h5 class="DivGamesLayouth2"></h5>
                            <!-- Termino de promoção -->
                            <div class="DivGamesLayoutPromo">Por tempo limitado!</div>
                            <!-- Preços e Descontos -->
                            <div calss="DivGamesLayoutPrices">
                                <!-- Desconto -->
                                <div class="Disconto">R$ 82,41</div>
                                <!-- Preço anterior e atual -->
                                <div class="DiscontoPreco">
                                    <!-- Preço anterior -->
                                    <div class="PrecoOriginal">R$ 109,89</div>
                                    <!-- Preço atual -->
                                    <div class="PrecoDisconto">-25%</div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </a>
                <!-- Fim do Fi 2 do Conteudo Linkado -->
                <!-- Começo do Fi 3 do Conteudo Linkado -->
                <a href="https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/" target="_blank">
                    <div class="FiConteudo">
                        <img src="/img/CSGO.jpeg" alt="CSGO">
                        <div class="BackFi">
                            <!-- Titulo -->
                            <div class="DivGamesLayouth3">
                                <h3>Counter-Strike: Global Offensive</h3>
                            </div>
                            <!-- SubTitulo -->
                            <h5 class="DivGamesLayouth2"></h5>
                            <!-- Termino de promoção -->
                            <div class="DivGamesLayoutPromo">
                                <!--Termina em 6 de abr. às 10:00.-->
                            </div>
                            <!-- Preço ou Gratuito -->
                            <div class="SemPreco">
                                <div class="SemPrecoOriginal">Gratuito para jogar</div>
                            </div>
                        </div>
                    </div> 
                </a>
                <!-- Fim do Fi 3 do Conteudo Linkado -->
                <!-- Começo do Fi 4 do Conteudo Linkado -->
                <a href="https://store.steampowered.com/app/220240/Far_Cry_3/" target="_blank">
                    <div class="FiConteudo">
                        <img src="/img/FarCry3.jpg" alt="FarCry3">
                        <div class="BackFi">
                            <!-- Titulo -->
                            <div class="DivGamesLayouth3">
                                <h3>FarCry 3</h3>
                            </div>
                            <!-- SubTitulo -->
                            <h5 class="DivGamesLayouth2"></h5>
                            <!-- Termino de promoção -->
                            <div class="DivGamesLayoutPromo">
                                <!--Termina em 6 de abr. às 10:00.-->
                            </div>
                            <!-- Preço ou Gratuito -->
                            <div class="SemPreco">
                                <div class="SemPrecoOriginal">R$ 59,99</div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Fim do Fi 4 do Conteudo Linkado -->
                <!-- Começo do Fi 5 do Conteudo Linkado -->
                <a href="https://store.steampowered.com/app/1238840/Battlefield_1/" target="_blank">
                    <div class="FiConteudo">
                        <img src="/img/Battlefield1.jpg" alt="Battlefield1">
                        <div class="BackFi">
                            <!-- Titulo -->
                            <div class="DivGamesLayouth3">
                                <h3>Battlefield™ 1
                                    <h4>Revolution</h4></h3>
                            </div>
                            <!-- SubTitulo -->
                            <h5 class="DivGamesLayouth2">PROMOÇÃO ESPECIAL!</h5>
                            <!-- Termino de promoção -->
                            <div class="DivGamesLayoutPromo">Oferta válida até 29 de maio</div>
                            <!-- Preços e Descontos -->
                            <div calss="DivGamesLayoutPrices">
                                <!-- Desconto -->
                                <div class="Disconto">R$ 49,75</div>
                                <!-- Preço anterior e atual -->
                                <div class="DiscontoPreco">
                                    <!-- Preço anterior -->
                                    <div class="PrecoOriginal">R$ 199,99</div>
                                    <!-- Preço atual -->
                                    <div class="PrecoDisconto">-75%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Fim do Fi 5 do Conteudo Linkado -->
                <!-- Começo do Fi 11 do Conteudo Linkado -->
                <a href="https://www.ea.com/pt-br/games/need-for-speed/need-for-speed-unbound/" target="_blank">
                    <div class="FiConteudo">
                        <img src="/img/Need for Speed™ Unbound.webp" alt="
                        Need for Speed™ Unbound">
                        <div class="BackFi">
                            <!-- Titulo -->
                            <div class="DivGamesLayouth3">
                                <h3>Need for Speed™ Unbound
                                    <h4>Edição Standard</h4>
                                </h3>
                            </div>
                            <!-- SubTitulo -->
                            <h5 class="DivGamesLayouth2">PROMOZINHA EA</h5>
                            <!-- Termino de promoção -->
                            <div class="DivGamesLayoutPromo">Oferta válida por tempo limitado!</div>
                            <!-- Preços e Descontos -->
                            <div calss="DivGamesLayoutPrices">
                                <!-- Desconto -->
                                <div class="Disconto">R$ 89,70</div>
                                <!-- Preço anterior e atual -->
                                <div class="DiscontoPreco">
                                    <!-- Preço anterior -->
                                    <div class="PrecoOriginal">R$ 299,00</div>
                                    <!-- Preço atual -->
                                    <div class="PrecoDisconto">-70%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Fim do Fi 11 do Conteudo Linkado -->
                <!-- Começo do Fi 12 do Conteudo Linkado -->
                <a href="https://www.ea.com/pt-br/games/wild-hearts/wild-hearts/" target="_blank">
                    <div class="FiConteudo">
                        <img src="/img/WILD HEARTS™2.jpg" alt="WILD HEARTS">
                        <div class="BackFi">
                            <!-- Titulo -->
                            <div class="DivGamesLayouth3">
                                <h3>WILD HEARTS™
                                    <h4>Edição Standard</h4>
                                </h3>
                            </div>
                            <!-- SubTitulo -->
                            <h5 class="DivGamesLayouth2">PROMOZINHA EA</h5>
                            <!-- Termino de promoção -->
                            <div class="DivGamesLayoutPromo">Oferta válida por tempo limitado!</div>
                            <!-- Preços e Descontos -->
                            <div calss="DivGamesLayoutPrices">
                                <!-- Desconto -->
                                <div class="Disconto">R$ 209,30</div>
                                <!-- Preço anterior e atual -->
                                <div class="DiscontoPreco">
                                    <!-- Preço anterior -->
                                    <div class="PrecoOriginal">R$ 299,00</div>
                                    <!-- Preço atual -->
                                    <div class="PrecoDisconto">-30%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Fim do Fi 12 do Conteudo Linkado -->
            </div>
            <!-- Fim da Div pai dos conteudos -->
        </div>
        <!-- Fim da Começo da Div dos conteudos -->
        <!-- Começo Footer -->
        <footer>
            <b>DiscountsFarm&copy;</b><sup>2023</sup><br>
            Todos os Direitos reservados
        </footer>
        <!-- Fim Footer -->
    <script src="/js/js.js"></script>

    </div>
    <!-- Fim da Div Pai da Pagina Inteira -->
</body>
</html>